<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="jwt4net" type="Jwt4Net.Configuration.Jwt4NetXmlConfig, Jwt4Net"/>
  </configSections>

  <jwt4net>
    <issuer name="login.huddle.local">
      <key algorithm="HS256"
        keyValue="sooper secret password" />
    </issuer>
    <consumer>
      <trustedIssuers>
        <add name="login.huddle.local" keyValue="sooper secret password" />
      </trustedIssuers>
    </consumer>
  </jwt4net>
</configuration>